@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');


* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;

}


body {
  margin: 0;
  padding: 0;
}

.test {
  font-size: 5em;
  color: red;
}

.logo {
  width: 80px;
  position: fixed;
  left: 5px;
}

.nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(87, 87, 87, 0.72);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 99;
}

.links {
  text-decoration: none;
  color: white;
  margin: 2%;
  font-size: 1.4em;
  transition: all 150ms;
}

.links:hover {
  text-decoration: none;
  color: rgb(198, 198, 198);
  transform: scale(1.3);
}

.links:active {
  text-decoration: none;
  color: inherit;
}

.hero {
  height: 100vh;
  background-image: url(../img/alley.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: grayscale(80%);

}

/*.innerHero {
  text-align: center;
  width: 40%;
  height: 40%;
  background-color: rgba(122, 122, 122, 0.78);
  padding: 3%;
  color: rgb(224, 224, 224);
  margin: 5%;
  font-size: 3em;
}*/

.heroButton {
  border: none;
  background-color: rgba(176, 167, 122, 0.88);
  color: white;
  font-size: 1.4em;
  width: 150px;
  height: 50px;
  transition: all 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroButton:hover {
  background-color: rgba(198, 198, 198, 0.6);
  color: rgb(93, 85, 117);
  text-decoration: none;
}

.heroButton:visited {
  text-decoration: none;
  color: inherit;
}

.heroTitle {
  font-size: 5em;
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1%;
}

.arrow {
  opacity: 0;
  transition: opacity 800ms;
  color: white;
  filter: grayscale(80%);
  height: 100px;
}

.heroButton:hover ~ .arrow {
  opacity: 1;
}

.story, .about, .contact {
  margin-top: 10%;
}

.icons {
  width: 100px;
}

.footer {
  height: 150px;
  width: 100vw;
  background-color: rgb(82, 82, 82);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerItems {
  margin: 5%;
}

.buttonHover {
  border: none;
}

.buttonHover:hover {
  background-color: rgb(231, 231, 231);
}

.storyContent {
  padding: 8%;
}

.line {
  border-bottom: solid rgb(139, 139, 139) 1px;
  width: 80%;
  margin: 2% auto;
}

.banner {
  height: 200px;
  background-color: rgb(203, 203, 203);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 8%;
  margin: 0;
}

p {
  font-size: 1.2em;
}

.content {
  margin-top: 100px;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.heroTitle {
  font-size: 2.3em;
  color: white;
  letter-spacing: 4px

}

.heroSubTitle {
  font-size: 1.3em;
  color: rgb(214, 214, 214);
  margin-bottom: 3%;
}

.logoHero {
  width: 400px;
  margin-top: 5%;
  filter: invert(100%);
}

.titleContainer {
  background-color: rgba(45, 45, 45, 0.8);
  color: white;
  text-align: center;
  padding: 1%;
  margin-bottom: 3%;
}
